.Content {
    height: 1000px;
    width: 100%;
    background-color: #210002;
    margin-top: -20px;

    h2 {
        color: #ffaf00;
        padding-top: 60px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-size: 28px;
    }
}